body {
  background: url(./image/spaceblu.jpeg) center center no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  overflow: hidden;
  font-size: 2.4rem;
}
.navbar {
  background-color: #000;
  height: 80px;
  display: flex;
  justify-self: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}
.navbar:hover {
  background: rbga(255 255 255 0.12);
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}
.nav-logo {
  color: #f5b922;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}
.nav-menu {
  display: flex;
  /* display: grid;
  grid-gap: 10px; */
  list-style: none;
  text-align: center;
  margin-right: 2rem;
  /* margin: 1rem; */
  /* grid-template-columns: repeat(5, auto); */

  /* display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 85vw;
  justify-content: end;
  margin-right: 1rem; */
}
.nav-links {
  color: rgb(204, 157, 157);
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}
.nav-links:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  transition: width 0.7s ease, background-color 0.5s ease;
}
.nav-links:hover:after {
  width: 100%;
  background: #ffdd40;
}
.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar {
    flex-direction: column;
    width: 100%;
    position: relative;
    opacity: 1;
  }
  .fa-times {
    color: #fff;
    font-size: 2rem;
    transition: all 0.5s ease;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 30%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    text-align: center;
    transition: all 0.5s ease;
    height: 100vh;
    /* transition: start 0.5s ease; */
    text-align: center;
    z-index: 1;
  }
  .nav-menu.active {
    background-color: #000;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-links {
    text-align: center;
    margin-top: 2rem;
    width: 60%;
    display: table;
    width: 60%;
    transition: all 0.5s ease;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.5rem;
    cursor: pointer;
  }
}
