* {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  margin-top: 5rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
  background-color: rgb(242, 246, 241);
}
.mySlides img {
  margin-right: auto;
  margin-left: auto;

  width: auto;

  height: 500px;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 12px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  /* border-radius: 3px 0 0 3px; */
  background-color: rgba(0, 0, 0, 0.8);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #d7a81a;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  top: 0%;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
/* .row {
  background-color: rgb(227, 223, 223);
  max-height: 150px;
} */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  /* float: left;
  width: 25%; */
  /* display: flex; */
  float: left;
  /* width: 25%; */
  /* height: 25%; */
  /* height: 100px; */
  /* height: auto; */
}
.column img {
  width: auto;
  height: 5rem;
  padding: 0 1rem;
}
/* .column img {
  width: auto;
  height: 104px;
  width: calc(100% - 102px);
  object-fit: cover;
  margin-bottom: 0px; 

  aspect-ratio: 16/9;
} */

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
